<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cubes Homework</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
  </head>
  <body>
    <div class="flex_container">
      <div class="block1 b1"></div>
      <div class="block2 b2"></div>
      <div class="block3 b3"></div>
      <div class="block4 b4"></div>
      <div class="block5 b5">
      </div>

    </div>

    <div class="flex_container2">
      <div class="block8 b8"></div>
      <div class="block9 b9"></div>
    </div>

    
  </body>
</html>
