<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOLL AR ALL VES&co</title>
</head>
<body>
    <header>
<h1>SOLL AR ALL VES&co</h1>
<IMG src="/solar logo1.jpg" alt="logo" width="200px" height="100px"></IMG>

<form>
    <label for="search">search:</label>
<input type="search" name="search" id="search" placeholder="search for anything">
<input type="submit" value="Go">
</form>

    </header>
    <nav>
<ul>
<li><a href = "#">Home</a></li>
</li><a href = "">Our team</a></li>
<li a href = "">Research</li>
<li a href = "">Science</li>
<LI><a href="Location">Location</a></LI>

</ul>

    </nav>
    <main>
        <section>
<h1>SOLAR PANELS</h1>
<article>
<h3> <span style="color: blue;">Polycristaline </span> solar panels</h3>
<h3> <span style="color: rgb(0, 255, 106);">Monocrystaline </span> solar panels</h3>
<p>Production</p>
<div>
<h4>Factories</h4>
<ul>
<li><p>Skopje</p></li>
<li><p>Veles</p></li>
<li><p>Bitola</p></li>

</ul>

</div>
</article>
<article>
    <h3>Ultraviolet solar panels</h3>
<p>Science behind</p>
</article>
        </section>
        <section>
<h2>Door to door</h2>
<article>
<h3>Product of Macedonia</h3>
<br><br>
<p>Polycristaline solar panels</p>
</article>
<article>
<h3>Discover more</h3>

</article>
        </section>
    </main>
    <aside id="Solar sertification">
<h2>Solar Certification</h2>
<ol type="I">
<li>ISO Certification</li>
<li>CE Certification</li>
<li>Fide Certification</li>

<div>

    <video src="/videos/solar video.mp4" type ="video/mp4" 
    autoplay 
    controls
    muted
    loop
    poster="/assets/"
    width="150px"
    height="150px"
    >
    
    </video>
    <!-- bidejki ima autoplay atribut ne se pojavuva poster trgni go autoplay  -->
</div>
<BR></BR>

<div>
    <iframe width="300px" height="300px" src="https://www.weamerisolar.eu/contact-amerisolar/"
    frameborder="1"
    fullscreen="1"
    ></iframe>
    </div>
<BR></BR>

</ol>
    </aside>
    <footer>
<a href="">contact</a>
<p>2023 &copy SOLL AR ALL VES&co. ALL RIGHTS RESERVED </p>

    </footer>

</body>
</html>