<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
    <title>Box Homework</title>
</head>
<body>
    <div class="box" id="one">
      <p id="box_model">Box Model</p>
      <p id="homework">Homework</p>
    
    </div>
    

    <div class="relative">
        <img src="/assets/lamborghini-countach r.jpg" alt="lambourghini"></div>

      <div class="absolute">
        <img src="/assets/ferrari car 5r.jpg" alt="loto1"></div>
        <div class="absolute2"> 
          <img src="/assets/tucson 2021 12r.jpg" alt="loto3"></div>


    <div class="content" id="content_one"><p id="content">
      Content Box</p></div>
    <div class="pading" id="pading_two">Padding Box</div>
    <div class="border" id="border_three">Border Box</div>



</body>
</html>